body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}
p{
  color: #fff;
  margin: 2px;
}
.changeContain{
  display: flex;
}
button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 2px;
    border: none;
    border-radius: 2px;
    background-color: #353941;
    cursor: pointer;
  }
  #orign{
    background-color: cornsilk;
  }

  button.current {
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  }