/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
h1{
    font-weight: 800;
    font-size:x-large;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 先給匡線 */
/* div{
    border: 1px solid black;
} */
/* 開始 */
.container{
    width: 100%;
    background:linear-gradient(90deg, rgb(11,21,35) 0%, rgb(11,44,84) 100%);
}
.nav1{
    margin: auto;
    width: 80%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.nav1 .right{
    color: #fff;
    font-size: 10pt;
}
.nav1 .right a{
    color: #fff;
    text-decoration: none;
}
.nav1 .right input{
    border-radius: 3px;
    height: 25px;
    border: none;
    padding-left: 10px;
    margin-bottom: 5px;
}
.nav1 .log{
    border-radius: 2px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
.nav1 .regist{
    border-radius: 2px;
    background-color: orangered;
    color: #fff;
    border: none;
}
.nav1 .right button{
    height: 28px;
    width: 50px;
    
}
.nav2{
    margin: auto;
    width: 80%;
    display: flex;
    /* background-color: rgb(6, 1, 53);  */
    color: #fff;
}
.nav2 ul{
    display: flex;
    padding: 10px 0;
    
}
.nav2 ul li{
    margin-right: 15px;
}
.container_1{
    padding: 3px;
    display: flex;
    margin: auto;
    width: 100%;
    box-shadow: 0 0 5px 0 black;
}
.nav3{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 5px 0;
}
.nav3 input{
    background-color: rgb(207, 206, 206);
    border: none;
    height: 25px;
    padding: 0 10px;
}
.nav3 ::-webkit-input-placeholder{
    color: black;
}
.nav3 .right{
    display: flex;
}

.right div{
    display: flex;
    margin-left: 10px;
    padding-left: 3px;
    border-left: 1px solid black;
    align-items: center; 
}
.right a{
    color:black;
    text-decoration: none;
}
.container_2{
    display: flex;
    width: 80%;
    margin: auto;
}

.box_left{
    width: 15%;
}
.box_left>div{
    padding: 15px;
}
.hot .content{
    margin-top: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px black
}
.hot .content a{
    font-weight: 600;
    text-decoration: none;
    color: darkblue;
}
label{
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 2px;
}
label:hover{
    background-color: gray;
    box-shadow: 1px 1px 2px black;
}
.content_sport{
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: #fff;
}
input[type=radio]{
    display: none;
}
input[type=radio]:checked + .content_sport{
    height: 150px;
    padding-left: 20px;
}
.content_sport li{
    padding: 5px;
}
.box_middle{
    width: 60%;
    padding: 15px;
}
.box_right{
    width: 25%;
    padding: 15px;
}
.main_top{
    border-radius: 3px;
    background-image: url("http://fakeimg.pl/700x100");
    
}
.main_top ul{
    display: flex;
    background-color: rgba(255,255,255,.5);
    padding:10px 5px 20px;
}
.main_top h1{
    margin: 5px 5px 20px;
}
.main_top .data{
    display: flex;
    background-color: rgba(7,36,67,.5);
}
.main_top .data a{
    margin: 10px 20px 10px 15px;
    color: #fff;
    text-decoration: none;
}
.main_contentTittle{
    background-color: rgb(6, 1, 53);
    border-radius: 3px 3px 0 0;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    border-bottom: 5px solid rgb(52, 121, 248);
}
.main_contentHead{
    width: 100%;
    display: flex;
    padding: 5px 15px;
    font-size: 13px;
    color: rgb(78, 77, 77);
    background-color: rgb(228, 228, 228);
    justify-content: space-between;
    align-items: center;
}
.games{
    display: flex;
    padding: 5px 15px;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid gray;
}
.games .score button,.handicap button{
    color:rgb(0, 110, 255);
    width: 60px;
    height: 50px;
    margin:  0 2px;
    padding: 10px 0;
    border-radius: 4px;
    border: 1px solid rgb(177, 177, 177);
    background: linear-gradient(180deg, #FFFFFF 0%, #FFF 70%, #F8F8F8 80%, #E6E6E6 100%);
    cursor: pointer;
    
}
.handicap button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.handicap button span:first-child{
    color: black;
}
.metaData{
    width: 40%;
}
.metaData p {
    margin: 5px 0;
}
.score{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.score div{
    width: 33.3%;
    text-align: center;
}
.handicap{
    width: 20%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.empty{
    width: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.box_right .top_tittle{
    padding: 10px;
    color: #fff;
    background-color: rgb(6, 1, 53);
}

.box_right .tab{
    flex: 1 1;
    display: flex;
    width: 100%;
}
.box_right div img{
    margin-top: 10px;
    width: 100%;
}
.tab button{
    background-color: #fff;
    height: 35px;
    width: 33.33%;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    box-shadow: 0 ;
    border: 0;
    cursor: pointer;
    
}
.tab button:first-child{
    box-shadow: 0 3px 0 0  orangered ;
    z-index: 20;
}
h3{
    margin-bottom: 20px ;
    color: rgb(22, 22, 71);
    font-weight: 800;
}
.tabBottom{
    width: 100%;
    height: 400px;
    font-size: 12px;
    padding: 20px 10px;
    background-color: rgb(194, 194, 194);
    overflow: scroll;
    overflow-x: hidden;
    /* position: relative; */
}
.blue_bottom{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(6, 1, 53);
    color: #fff;
    font-size: 12px;
    padding: 10px;
    /* justify-content: center; */
}
.blue_bottom div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10pt;
}
.blue_bottom input{
    width: 100%;
    height: 40px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.detail_box{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}
.detail_box p{
    padding-bottom: 10px;
}
.data_test{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data_test div:last-child{
    background-color: orangered;
    color: #fff;
    padding: 5px;
}
.input_box{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.input_box input{
    width: 45%;
    height: 30px;
}
.footer{
    width: 100%;
    margin-top: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    /* background-color:   palegoldenrod; */
}

.footer div a{
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 11px;
}
.labelShadow{
    box-shadow:1px 1px 2px black
  }